@{
    ViewData["Title"] = "Home Page";
}

@section topCSS{
    <style>
        .myborder {
            border: solid;
            /*border-radius: 10px;*/
            border-width: 1px;            
            border-color: #eee;            
            margin-top: 2px;
            margin-bottom: 2px;
            padding:2px;
        }
        .myCard {
            border: solid;
            border-radius: 10px;
            border-width: 1px;
            /*margin: 2px;*/
            border-color: #ccc;
            /*margin:2px,0px,2px,0px;*/
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 2px;
        }

    </style>
    
}


<h1>MVC Core - Code First <span style="color:red">02</span></h1>

<div class="row myborder">
    <div class="col-md-3 myCard">
        <h2>圖書與創作者的管理</h2>
        <ul>

            <li>
                <a href="~/Makers">Makers (創作者)</a>
            </li>

            <li>
                <a href="~/Comics">Comics (漫畫作品)</a>
            </li>


        </ul>
    </div>

    <div class="col-md-3 myCard">
        <h2>Book c7實作</h2>
        <ul>
            <li>
                <a href="~/Scores">成績單(Razer Partial View語法、Bootstrap Col/Row的範例)</a>
            </li>
        </ul>
    </div>

    <div class="col-md-3 myCard">
        <h2>討論區管理</h2>
        <ul>

            <li>
                <a href="~/users">Users (使用者)</a>
            </li>
            <li>
                <a href="~/blogs">Blogs (發文主題) </a>
            </li>
            <li>
                <a href="~/Posts">Posts (內文)</a>
            </li>
            <li>
                <a href="~/Games">Games (遊戲)</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 myCard">
        <h2>Bootstrap</h2>
        <ul>
            <li><a href="~/bs2.htm">Sample Page</a></li>
        </ul>
    </div>

</div>

<div class="row  myborder">
    <div class="col-md-3  myCard">
        <h2>Java Script (Ch9 AJAX/API)</h2>
        <ul>

            <li><a href="~/jsonObject.html">Java Script Origin</a></li>
            <li><a href="~/json">JSON for ASP.NET Core2~3</a></li>
            <li><a href="~/json/gettemp">Get Temp.</a></li>


            <li><a href="X">jQuery AJAX</a></li>
            <li>Win API</li>
            <li>Min API</li>
        </ul>
    </div>
    <div class="col-md-3  myCard">
        <h2>TBD2</h2>
        <ol>
            <li>G</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>G</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ol>
    </div>
    <div class="col-md-3  myCard">
        <h2>TBD2</h2>
        <ol>
            <li>G</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>G</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ol>
    </div>
    <div class="col-md-3  myCard">
        <h2>TBD2</h2>
        <ol>
            <li>G</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>G</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ol>
    </div>
</div>



